*.py[cod]
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

*.pyc
*.bak
*.py~
*.deb
.ropeproject
*.sublime-*
.idea/
Thumbs.db
.cache

secret.py
